*,
html{
    padding:2;
    margin:1;
}


.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: brown;
    color:white;
    padding : 15px;
    gap : 3px;
}

a {
    text-decoration-line:none;
    font-size: 20px;
    color: rgb(77, 77, 225);
    border: 2px solid;
}
a:hover {
    color: rgb(159, 159, 159);
    font-weight:bold;
}

h2 {
    color: rgb(0, 0, 0);
}
    